.card{
    background-image: linear-gradient(#252D33, #1034A6);
}
.card-body{
    background-color: #fff;
}

h4{
    color: #fff;
    margin-bottom: 20px;
}

button{
    background-color: rgb(227,150,82) !important;
}

.error{
    padding-left: 10px;
    color: red;
    margin-bottom: 0;
    margin-top: 8px;
}

.input-group-text {
    padding: 0.4rem 0.8rem;
    color: white;
    background-color:rgb(227,150,82) ;
  }

  .form-control[type="file"] {
    padding: 0.375rem 0.75rem;
    font-size: 0.8rem;
  }

  .browse-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d5d9dd;
    border-radius: 0.3rem; 
    padding: 0.2rem;
  }
