.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

span{
    color: red;
}

.form-group label {
    width: 150px;
    margin-right: 10px;
    text-align: right;
}


.form-group input {
    flex: 1;
    margin: 5px;
}

.text-center{
    font-weight: bold;
    font-weight: 900;
    margin-bottom: 20px;
    font-size: 25px;
}

button{
    flex: 0.1;
}

p{
    font-weight: bold;
    font-weight: 800;
    font-size: 20px;
}

#error{
    color: red;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

thead{
    background-color:darkgrey;
}

.table{
    border: 1px  black solid;
}
