.header{
    height: 120px;
    background-image:linear-gradient(0,#fe6433,#f53e2d) ;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0px;
    margin-top: 4px;
}

.header__navbar-item, .header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    
}

.header__navbar-item{
    margin: 0 8px ;
    position: relative;
    min-height: 26px;
}
.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}
.header__navbar-item--strong{
    font-weight: 400;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    border-left: 1px solid #fb9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover ,
 .header__navbar-item-link:hover{
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */
.header__qr{
    width: 186px;
    background-color: var(--white-colors);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}

.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}
.header__qr-download-img{
    height: 17px ;
}

.header__qr-link:first-child{
    margin-left: 11px;
}
.header__qr_link:last-child{
    margin-right: 11px;
}

.header__qr::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}
