body{
	margin:0;
	padding:20px;
	font-family: Arial, Helvetica, sans-serif;
}

*{
	box-sizing: border-box;
}

.table{
	width: 90%;
	border-collapse: collapse;
    margin: 0 auto;
}

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  font-size:16px;
  text-align: left;
}

p{
    margin: 0;
}

.amount{
    display: flex;

}

.amount button{
    width: 35px;
    height: 30px;
    outline: none;
    border: 1px solid #ddd;
    cursor: pointer;
    padding: 2px 10px;
    border-radius: 2px;
    border: 1px solid grey;
    font-size: 16px;
    font-weight: bolder;
}

.btn-sub{
    background-color: #ececec;
}   

.btn-delete{
    background-color: red;
    color: white;
}

.show{
    width: 40px;
    text-align: center;
    border: 1px solid #ddd;
    color: #ddd;
    border-radius: 2px;
}
.text{
    text-align: right !important;
}
/*responsive*/

@media(max-width: 500px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}







