body {
  background-color: #f2f3f5;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}
.container {
  max-width: 80%;
  max-height: 80%;
  margin: 0 auto;
  color: #333333;
}

p {
  color: gray;
  margin-top: 3px;
}
header {
  text-align: left;
  width: 100%;
}

.main-image {
  width: 100%;
}

.layout {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 20px;
}

.images {
  width: 90%;
  height: 90%;
}
hr {
  border-style: dashed;
  color: red;
  margin-top: 2px;
}

.right-item {
  margin-left: 50px;
}

article {
  display: grid;
  grid-template-columns: 30% 70%;
}

