* {
  font-family: Arial, sans-serif;
}

.container {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 35% 65%;
  color: grey;
  margin-top: 50px;
  height: 90px;
}

.left-item {
  background-color: rgb(80, 209, 80);
  color: rgb(248, 245, 240);
  font-size: 25px;
  text-align: center;
  padding-top: 130px;
}
h2 {
  font-size: 20px;
  color: black;
}

.title {
  margin-top: 30px;
  font-size: 10px;
}
.content {
  margin-left: 20px;
}

.list {
  padding-top: 30px;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  font-size: 11px;
  padding-left: 0px;
}

button {
  border: none;
  margin: 30px 0px;
  width: 150px;
  height: 30px;
  text-align: center;
  padding-top: 3px;
  background-color: rgb(24, 205, 218);
  color: white;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
}

i{
    color: #19c0d3;
    margin-right: 5px;
}

li {
    margin: 5px;
}

.style{
    background-color: #19c0d3;
    text-align: center;
}