.card{
    background-image: linear-gradient(#252D33, #1034A6);
}
.card-body{
    background-color: #fff;
}

h4{
    color: #fff;
    margin-bottom: 20px;
}

button{
    background-color: rgb(227,150,82) !important;
}


